.container {
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}

.logo {
  /* background-color: blanchedalmond; */
  display: flex;
  align-items: center;
}

.logo .image {
  display: flex;
  align-items: center;
}

.logo .image:nth-child(2) {
  margin-left: 5px;
}

.logo .label {
  margin-left: 10px;
  font-weight: 600;
  color: #e43836;
  font-family: "Roboto", sans-serif;
}

.sosmed {
  display: flex;
}

.sosmed a:nth-child(2) {
  margin: 0px 10px;
}

.sosmed .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #11468f;
}

.sosmed .item svg {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 375px) {
  /* media */
  .sosmed {
    display: none;
  }
}
@media screen and (max-width: 325) {
  /* media */
}
