.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container .content {
  margin: 20px 0px 70px;
}

.container .content:nth-last-child(2) {
  margin-bottom: 100px;
}

.content .kabid {
  display: flex;
}

.content .kabid .foto {
  width: 300px;
  margin-right: 80px;
}

.content .kabid .foto > div {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .kabid .detail {
  background-color: #fff;
  width: 100%;
  padding: 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content .kasubid_container {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.content .kasubid {
  display: flex;
}
.content .kasubid:nth-child(2) {
  margin-left: 20px;
}

.content .kasubid .foto img {
  width: 150px;
}

.content .kasubid .detail {
  background-color: #fff;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  width: 450px;
}

.content .kasubid .detail .title {
  font-size: 17px;
  font-weight: 600;
  color: #464646;
  margin-bottom: 20px;
}

.foto .sosmed {
  display: flex;
  justify-content: center;
}

.sosmed a:nth-child(2) {
  margin: 0px 20px;
}

.sosmed .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #11468f;
}

.sosmed .item svg {
  color: #fff;
}

.content .kabid .detail .title {
  font-weight: 600;
  color: #464646;
  font-size: 25px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.content .kabid .detail .title svg {
  margin-right: 10px;
  background-color: #11468f;
  color: #fff;
  padding: 3px;
}

.content .kabid .detail .isi {
  margin-bottom: 20px;
}

.content .kabid .detail .isi table tbody tr td:nth-child(1) {
  padding-right: 40px;
}

.content .kabid .detail .deskripsiBidang .title {
  font-size: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1300px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 20px;
  }
  .content .kasubid .detail {
    width: 430px;
  }
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }

  .content .kabid .foto {
    margin-right: 50px;
  }

  .content .kasubid .detail {
    width: 400px;
  }
}

@media screen and (max-width: 1120px) {
  .content .kasubid .detail {
    width: 330px;
  }
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .content .kasubid_container {
    flex-direction: column;
  }

  .content .kasubid .detail {
    width: 100%;
  }

  .content .kasubid:nth-child(1) {
    margin-bottom: 15px;
  }

  .content .kasubid:nth-child(2) {
    margin-left: 0px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
  .content .kabid {
    flex-direction: column;
    /* background-color: #11468f; */
  }

  .content .kabid .foto {
    width: 100%;
    margin-bottom: 20px;
  }

  .content .kabid .detail {
    padding: 20px 10px;
  }

  .content .kabid .detail .title {
    font-size: 20px;
    text-align: center;
  }

  .content .kabid .detail .deskripsiBidang .title {
    font-size: 15px;
  }

  .content .kabid .detail .deskripsiBidang > div {
    font-size: 12px;
  }

  .content .kabid .detail table tbody tr td {
    font-size: 12px;
  }

  .content .kasubid {
    flex-direction: column;
  }

  .content .kasubid .foto img {
    width: 100%;
  }

  .content .kasubid .foto {
    margin-bottom: 10px;
  }

  .content .kasubid .detail {
    margin-left: 0px;
  }

  .content .kasubid .detail .title {
    text-align: center;
  }

  .content .kasubid .detail .detail_data {
    font-size: 13px;
    justify-content: center;
  }

  .container div span {
    font-size: 10px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
  .container div span {
    font-size: 8px;
  }
}
