@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Pacifico&display=swap");

/* Line ini agar ukuran page yang diambil seukuran layar device */
.container .swiper {
  width: 100vw;
  height: 100vh;
  color: #fff;
  font-family: "Inter", sans-serif;
}

/* Color for every pages */
.container .swiper .page:nth-child(1) {
  background-color: #ff5f45;
}

.container .swiper .page:nth-child(2) {
  background-color: #0698ec;
}

.container .swiper .page:nth-child(3) {
  background-color: #fc6c7c;
}

/* keep content center and aligned horizontally*/
.container .swiper .page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* make white box for illustration */
.container .swiper .page .illustration {
  width: 330px;
  height: 330px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-right: 100px;
}

/* Make image take the parent width */
.container .swiper .page .illustration img {
  width: 100%;
}

.container .swiper .page .desc {
  width: 500px;
}

.container .swiper .page .desc .title {
  display: flex;
  align-items: center;
}

.container .swiper .page .desc .title .logo {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.container .swiper .page .desc .title .logo > img:nth-child(1) {
  width: 20px;
  margin-right: 5px;
}

.container .swiper .page .desc .title .logo > img:nth-child(2) {
  width: 30px;
}

.container .swiper .page .desc .title .text span:nth-child(1) {
  font-family: "Pacifico", cursive;
  font-size: 38px;
}

.container .swiper .page .desc .title .text span:nth-child(2) {
  font-family: "Inter", sans-serif;
  font-size: 27px;
}

.container .swiper .page .desc .link a {
  display: flex;
  align-items: center;
  width: fit-content;
}

.container .swiper .page .desc .link a::after {
  content: "";
  position: relative;
  top: 17px;
  right: 157px;
  width: 0px;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.container .swiper .page .desc .link a:hover::after {
  width: 160px;
}

.back a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: fit-content;
}

/* change pagination bullet color */
.container > div > div:nth-child(1) span {
  background-color: #fff;
}
