.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  margin-bottom: 100px;
}

.desc {
  font-size: 15px;
  color: #464646;
  margin-bottom: 20px;
}

.link {
  margin-top: 20px;
}

.link a:nth-child(1) {
  margin-bottom: 10px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
