.container_berita img {
  /* border-radius: 10px; */
}

.container_berita {
  transform: scale(1);
  transition: transform 0.2s ease-in-out;
}

.container_berita:hover {
  transform: scale(1.03);
}

.container_berita img {
  box-shadow: 1px 6px 9px -4px rgba(166, 166, 166, 0.87);
  -webkit-box-shadow: 1px 6px 9px -4px rgba(166, 166, 166, 0.87);
  -moz-box-shadow: 1px 6px 9px -4px rgba(166, 166, 166, 0.87);
}

.container_berita {
  position: relative;
}

.container_berita .layer {
  width: 100%;
  height: 150px;
  background: rgb(221, 74, 72);
  background: linear-gradient(
    0deg,
    rgba(221, 74, 72, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
  /* border-radius: 10px; */
  padding: 70px 20px 20px 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: 0px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .container_berita .layer {
    font-size: 17px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container_berita .layer {
    bottom: 0px;
  }
}

@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
