.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 40px 100px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.content > div {
  font-size: 20px;
  color: #313131;
}

.content .form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e43836;
  width: 300px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
