@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Warna Sosmed Header */
.container > div:nth-child(1) > div:nth-child(2) a > div {
  background-color: #f8961d;
}

/* Warna Navbar */
.container > div:nth-child(2) {
  background-color: #371c53;
}

/* Warna Footer */
.container > div:nth-last-child(1) > div:nth-last-child(1) {
  background-color: #371c53;
}

.banner {
  background-color: #fff;
  overflow: hidden;
  margin: 30px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
}

.banner a {
  width: 100%;
  text-align: center;
}

.banner:hover {
  background-color: #ececec;
}

.header {
  /* margin-bottom: 100px; */
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
}

.header .title {
  width: 550px;
  font-size: 20px;
  font-weight: 600;
  color: #371c53;
}

.header .line {
  width: 100%;
  height: 1px;
  background-color: #f8961d;
}

.content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px 40px;
  font-size: 20px;
}

.temp {
  margin-top: 100px;
}

.image {
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
}

.image img {
  width: 640px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }

  .image img {
    width: 600px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .image img {
    width: 530px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .image img {
    width: 470px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
  .image img {
    width: 370px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .image {
    flex-direction: column;
    margin: 20px 0px;
  }
  .image img {
    width: 100%;
  }

  .container {
    padding: 0 10px;
  }
  .banner {
    padding: 20px 20px;
  }

  .imageTitle a {
    text-align: center;
  }

  .imageTitle img {
    width: 300px;
  }

  .content {
    padding: 20px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
  .imageTitle img {
    width: 250px;
  }
}
