.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  margin-bottom: 50px;
  background-color: #fff;
  padding: 40px 50px;
  display: flex;
  gap: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}

.item_container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item_container .item{
  flex: 1;
  border: 1px solid black;
  text-align: left;
  padding: 10px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .container {
    padding: 10px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .container {
    padding: 10px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
  .container {
    padding: 10px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 10px;
  }
  /* .content{
    flex-direction: column;
    padding: 10px;
  } */
}
@media screen and (max-width: 375px) {
  /* media */
  .container {
    padding: 0px 30px;
  }
  .content{
    flex-direction: column;
    padding: 10px;
  }
}
@media screen and (max-width: 325px) {
  /* media */
  .content{
    flex-direction: column;
    padding: 0px 10px !important;
  }
}
