.container {
  padding: 30px 0px 30px;
}

.container img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(63, 62, 62, 0.1);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.item {
  display: flex;
  height: 500px;
}

.carousel_left {
  width: 50%;
}

@media screen and (min-width: 1280px) {
  .container img {
    height: 500px;
  }
}

@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 20px 0px 0px;
  }

  .container img {
    height: 100%;
  }
}
@media screen and (max-width: 375) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
