.container {
  background-color: #10468f;
  padding: 15px 25px;
  border-radius: 5px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .menu {
  display: flex;
}

.container .menu > div:not(:nth-child(1)) {
  /* border: 1px solid black; */
  margin-left: 10px;
}

.mail a button {
  color: #fff !important;
  font-family: "Roboto", sans-serif !important;
  text-transform: capitalize !important;
}

.drawer {
  display: none;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  .drawer {
    display: block;
  }

  .container .menu {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .drawer {
    display: block;
  }

  .container .menu {
    display: none;
  }

  .container {
    padding: 7px 10px;
  }

  .container .menu > div button {
    font-size: 10px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 375) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
