@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Warna Sosmed Header */
.container > div:nth-child(1) > div:nth-child(2) a > div {
  background-color: #f8961d;
}

/* Warna Navbar */
.container > div:nth-child(2) {
  background-color: #371c53;
}

/* Warna Footer */
.container > div:nth-last-child(1) > div:nth-last-child(1) {
  background-color: #371c53;
}

.banner {
  background-color: #fff;
  overflow: hidden;
  margin: 30px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
}

.banner a {
  width: 100%;
  text-align: center;
}

.banner:hover {
  background-color: #ececec;
}

.header {
  /* margin-bottom: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  margin: 50px 0px;
}

.header .title {
  width: 300px;
  font-size: 35px;
  font-weight: 600;
  color: #371c53;
}

.header .line {
  width: 900px;
  height: 1px;
  background-color: #f8961d;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #f8961d;
  margin: 70px 0px;
}

.content {
  background-color: #fff;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

.content > div:nth-child(1) {
  width: 700px;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  color: #371c53;
  margin-bottom: 30px;
}

.seminar {
  margin-top: 30px;
  width: 700px;
}

.seminar img {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .header .line {
    width: 700px;
  }
}

@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .header .line {
    width: 600px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
  .header .line {
    width: 400px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0 10px;
  }
  .imageTitle a {
    text-align: center;
  }

  .imageTitle img {
    width: 300px;
  }

  .content > div:nth-child(1) {
    font-size: 20px;
    width: 100%;
  }

  .content .image img {
    width: 100%;
  }

  .header .title {
    font-size: 25px;
  }

  .header .line {
    width: 200px;
  }

  .seminar {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
  .imageTitle img {
    width: 250px;
  }
  .header .line {
    width: 100px;
  }
}
