.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: flex;
  margin-bottom: 40px;
}

.content .foto {
  width: 350px;
  position: relative;
  margin-right: 80px;
  display: flex;
  justify-content: center;
}

.content .foto .image {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.content .foto .image img {
  width: 100%;
  border-radius: 10px;
}

.content .desc {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
  width: 100%;
  padding: 30px 40px;
  font-size: 20px;
  color: #464646;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desc .nama {
  font-size: 30px;
  font-weight: 700;
  color: #464646;
}

.desc .detail {
  display: flex;
}

.desc .detail table tbody tr td:nth-child(1) {
  padding-right: 30px;
}

.desc .sosmed {
  display: flex;
}

.sosmed a:nth-child(2) {
  margin: 0px 10px;
}

.sosmed .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #11468f;
}

.sosmed .item svg {
  color: #fff;
}

.content_detail {
  justify-content: space-between;
}

.content .card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 620px;
  padding: 30px;
  color: #464646;
  border-radius: 10px;
}

.content .card .title {
  font-weight: 600;
  font-size: 20px;
  color: #464646;
}

.content .card ol {
  padding: 0px 20px;
}

.content .card ol li {
  margin-bottom: 10px;
}

.conten .card ol .li::marker {
  margin-right: 30px;
}

.nested_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nested_card .card:not(:nth-last-child(1)) {
  margin-bottom: 20px;
}

.nested_card .card .link {
  color: #11468f;
  font-weight: 600;
  margin-top: 10px;
}

.container .content:nth-last-child(2) {
  margin-bottom: 100px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
  .content_detail .card {
    width: 600px;
  }
}

@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .content_detail .card {
    width: 510px;
  }
  .content .foto {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .content_detail .card {
    width: 450px;
  }
}
@media screen and (max-width: 800px) {
  /* media */

  .detail table tbody tr td {
    font-size: 13px;
  }

  .content .desc {
    padding: 20px 20px;
  }

  .content .nama {
    font-size: 20px;
  }

  .content .foto {
    width: 250px;
  }

  .content .foto .image {
    padding: 10px;
  }

  .content_detail .card {
    width: 350px;
  }

  .content_detail .card ol {
    font-size: 13px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
  .dataDiri {
    flex-direction: column;
    align-items: center;
  }

  .dataDiri .desc {
    /* background-color: #11468f; */
    height: 300px;
    align-items: center;
  }

  .dataDiri .foto {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }

  .dataDiri .foto .image {
    padding: 20px;
  }

  .dataDiri .desc {
    padding: 20px 20px;
  }

  .dataDiri .desc .sosmed {
    justify-content: center;
  }

  .sosmed a:nth-child(2) {
    margin: 0px 10px;
  }

  .content_detail {
    flex-direction: column;
  }

  .content_detail .card {
    width: 100%;
  }

  .content_detail > .card {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
  .dataDiri .desc {
    /* background-color: #11468f; */
    height: 340px;
    align-items: center;
  }

  .dataDiri .foto {
    margin-bottom: 20px;
  }

  .dataDiri {
    margin-bottom: 20px;
  }

  .dataDiri .desc .detail table tbody tr td {
    border-bottom: 1px solid black;
  }
}
@media screen and (max-width: 325px) {
  /* media */
}
