.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  display: flex;
  margin-bottom: 50px;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #11468f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.content .title > div:nth-child(1) {
  width: 1000px;
}

.content .title .line {
  width: 100%;
  height: 1px;
  background-color: #464646;
}

.content .left {
  width: 600px;
  margin-right: 40px;
}

.left img {
  border-radius: 10px;
}

.content .right {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right .title {
  font-size: 35px;
  color: #11468f;
  font-weight: 700;
  margin-bottom: 10px;
}

.right .caption {
  margin-bottom: 20px;
  color: #464646;
}

.right h3 {
  margin-bottom: 5px;
  color: #464646;
}

.right .sosmed {
  display: flex;
}

.sosmed a:nth-child(2) {
  margin: 0px 5px;
}

.sosmed .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: #11468f;
}

.sosmed .item svg {
  color: #fff;
}

.tugas_pokok {
  flex-direction: column;
}

.tugas_pokok .isi > div:nth-child(1) {
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .right .caption:nth-child(2) {
    margin-bottom: 0px;
  }

  .right .title {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
  .right {
    flex-direction: column;
  }

  .desc {
    flex-direction: column;
  }

  .desc .left {
    width: 100%;
    margin-bottom: 10px;
  }

  .desc .right .title {
    text-align: center;
    justify-content: center;
  }

  .desc .right {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .tugas_pokok .title {
    font-size: 25px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }

  .right .caption {
    text-align: justify;
  }

  .right h3 {
    align-self: flex-start;
  }

  .tugas_pokok .title {
    text-align: center;
    font-size: 20px;
  }

  .tugas_pokok .line {
    display: none;
  }

  .tugas_pokok .isi {
    text-align: justify;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
  .right .title {
    font-size: 25px;
  }
}
