.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px 30px;
}

.content:nth-last-child(2) {
  margin-bottom: 100px;
}

.content .title {
  font-size: 20px;
  font-weight: 600;
  color: #464646;
  margin-bottom: 10px;
}

.content .text {
  text-align: justify;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }

  .content ol {
    padding: 0px 20px;
  }

  .content:nth-last-child(2) {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
