.container {
  margin-bottom: 20px;
}

.up {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* background-color: #11468f; */
}

.left {
  /* border: 1px solid black; */
  width: 50%;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo img:nth-child(2) {
  margin: 0px 10px;
}

.logo > div {
  font-size: 40px;
  font-weight: 700;
  color: #e43836;
}

.desc svg {
  color: #e43836;
  font-size: 25px;
  margin-right: 10px;
}

.desc .item {
  display: flex;
  align-items: center;
  width: 500px;
  margin-bottom: 10px;
  color: #555555;
}

.desc .item_first {
  display: flex;
  align-items: flex-start;
  width: 500px;
  margin-bottom: 10px;
  color: #555555;
}

.down {
  margin-top: 20px;
  background-color: #e43836;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  color: #fff;
}

.sosmed {
  display: flex;
}
.sosmed a:nth-child(2) {
  margin: 0px 10px;
}

.sosmed .item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 35px;
  height: 35px;
}

.sosmed .item svg {
  color: #fff;
}

.right ul {
  /* border: 1px solid; */
  list-style-type: none;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
}

@media screen and (max-width: 1120px) {
  .maps {
    width: 500px;
  }
}
@media screen and (max-width: 1000px) {
  .maps {
    width: 400px;
  }

  .logo > div {
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
  .desc .item_first {
    width: 300px;
  }
  .maps {
    width: 350px;
  }
  .logo > div {
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */

  .logo > div {
    font-size: 25px;
  }

  .up {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }

  .desc .item_first {
    width: 100%;
  }

  .desc .item {
    width: 100%;
  }

  .maps {
    width: 100%;
  }

  .down {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 20px;
  }

  .down > div:nth-child(1) {
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  /* media */
  .logo > div {
    font-size: 20px;
  }
}
@media screen and (max-width: 325px) {
  /* media */
  .logo > div {
    font-size: 18px;
  }

  .up {
    padding: 20px;
  }
}
