@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Warna Sosmed Header */
.container > div:nth-child(1) > div:nth-child(2) a > div {
  background-color: #f8961d;
}

/* Warna Navbar */
.container > div:nth-child(2) {
  background-color: #371c53;
}

/* Warna Footer */
.container > div:nth-last-child(1) > div:nth-last-child(1) {
  background-color: #371c53;
}

.banner {
  background-color: #fff;
  overflow: hidden;
  margin: 30px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
}

.banner a {
  width: 100%;
  text-align: center;
}

.banner:hover {
  background-color: #ececec;
}

.header {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;
  justify-content: space-between;
}

.header .title {
  font-size: 35px;
  font-weight: 600;
  color: #371c53;
}

.header .line {
  width: 650px;
  height: 1px;
  background-color: #f8961d;
}

.content {
  display: flex;
}

/* image */
.content > div:nth-child(1) {
  margin-right: 100px;
}

/* title contentn foto hiburan rakyat */
.content .desc > div:nth-child(1) {
  font-size: 80px;
  font-weight: 700;
  color: #371c53;
}

/* tambah spasi dengan title */
.content .desc > div:nth-child(2) {
  margin-top: 90px;
}

/* styling deskripsi tambahan */
.content .desc > div:nth-child(2) > div:nth-child(1) {
  font-size: 30px;
  font-weight: 600;
  color: #f8961d;
  margin-bottom: 10px;
}

.content .desc > div:nth-child(2) > div:nth-child(2) {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.content .desc > div:nth-child(2) > div:nth-child(3) {
  font-size: 20px;
  font-weight: 600;
}

.reverse {
  flex-direction: row-reverse;
  margin-bottom: 100px;
  align-items: center;
}

.reverse > div:nth-child(1) {
  margin-right: 0px;
}

.reverse > div:nth-child(2) {
  margin-right: 100px;
}

.reverse .desc > div:nth-child(1) {
  font-size: 70px;
  font-weight: 700;
  color: #371c53;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f8961d;
  margin: 70px 0px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
  .header .line {
    width: 600px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .header .line {
    width: 450px;
  }
  .content > div:nth-child(1) {
    margin-right: 50px;
  }
  .content > div:nth-child(1) img {
    width: 500px;
  }

  .content .desc > div:nth-child(1) {
    font-size: 70px;
  }

  .reverse .desc > div:nth-child(1) {
    font-size: 55px;
  }

  .reverse > div:nth-child(1) {
    margin-right: 0px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .header .title {
    font-size: 28px;
  }
  .content .desc > div:nth-child(1) {
    font-size: 60px;
  }
  .content > div:nth-child(1) img {
    width: 450px;
  }

  .reverse .desc > div:nth-child(1) {
    font-size: 50px;
  }
}
@media screen and (max-width: 800px) {
  /* media */
  .header .line {
    width: 250px;
  }

  .content {
    margin-bottom: 30px;
  }

  .content > div:nth-child(1) {
    margin-right: 30px;
  }

  .content > div:nth-child(1) img {
    width: 400px;
  }
  .content .desc > div:nth-child(1) {
    font-size: 45px;
  }
  .content .desc > div:nth-child(2) {
    margin-top: 30px;
  }

  .reverse {
    margin-bottom: 0px;
  }

  .reverse > div:nth-child(1) {
    margin-right: 0px;
  }

  .reverse .desc > div:nth-child(1) {
    font-size: 40px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0 10px;
  }
  .banner {
    padding: 20px 20px;
  }

  .imageTitle a {
    text-align: center;
  }

  .imageTitle img {
    width: 300px;
  }

  .header {
    margin-bottom: 20px;
  }

  .header .title {
    font-size: 20px;
  }

  .header .line {
    width: 200px;
    margin: 0px;
  }

  .content {
    flex-direction: column;
  }

  .content > div:nth-child(1) {
    width: 100%;
  }
  .content > div:nth-child(1) img {
    width: 100%;
    margin-bottom: 20px;
  }

  .content .desc > div:nth-child(1) {
    font-size: 25px;
  }

  .content .desc > div:nth-child(2) {
    margin-top: 10px;
  }

  .reverse .desc {
    margin-right: 0px !important;
  }

  .reverse .desc > div:nth-child(1) {
    font-size: 20px;
    width: 100%;
    text-align: justify;
    font-weight: 500;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
