.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content_wrapper {
  display: flex;
  justify-content: space-between;
}

.content_wrapper .content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 100px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 620px;
}

.content_wrapper .content .title {
  font-size: 20px;
  color: #464646;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }

  .content_wrapper .content {
    width: 590px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .content_wrapper .content {
    width: 510px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
  .content_wrapper .content {
    width: 450px;
  }
}
@media screen and (max-width: 800px) {
  .content_wrapper .content {
    width: 350px;
  }
  /* media */
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
  .content_wrapper {
    flex-direction: column;
  }

  .content_wrapper .content {
    width: 100%;
  }

  .content_wrapper .content:nth-child(1) {
    margin-bottom: 20px;
  }

  .content_wrapper .content:nth-child(1) .text {
    text-align: justify;
  }

  .content_wrapper .content .text ol {
    padding: 20px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
