.container {
  max-width: 1280px;
  margin: 0 auto;
}

.content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  color: #464646;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 100px;
}

.form a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: #10468f;
  text-decoration: underline;
}

.content .title {
  font-size: 20px;
  font-weight: 600;
  margin: 40px 0px 10px;
}

.content .text ol {
  padding-top: 0px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
  .container > div:nth-child(3) {
    padding: 0px 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
  .container > div:nth-child(3) h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
