$blue: #11468f;
$red: #e43836;

.container {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.bidang {
  display: flex;
  justify-content: space-between;
  margin: 30px 0px 60px;
  .item {
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $blue;
      svg {
        color: #fff;
      }
      span {
        color: #fff !important;
      }
    }
    & > svg {
      color: $red;
      font-size: 80px;
      transition: color 0.2s ease-in-out;
    }
    .title {
      text-align: center;
      text-transform: uppercase;
      span {
        color: $blue;
        font-size: 13px;
        font-weight: 600;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}

.content_container {
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: #fff;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    & > div:nth-child(1) {
      width: 250px;
      margin-right: 10px;
    }
    & > div:nth-child(1) {
      font-size: 20px;
      font-weight: 600;
      color: $blue;
    }
  }
  .line {
    height: 1px;
    width: 100%;
    background-color: rgba(63, 62, 62, 0.1);
  }
  .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .video_card {
      width: 100%;
    }
  }
}

.berita_card {
  width: 300px;
}

.berita_card_highlight {
  width: 626px;
  height: 300px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
  .bidang .item {
    width: 280px;
  }

  .berita_card {
    width: 280px;
  }

  .berita_container {
    & > div {
      width: 270px !important;
      & > a {
        & > div {
          font-size: 17px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 1120px) {
  .bidang .item {
    width: 250px;
  }

  .berita_container {
    width: 100%;
    & > div {
      width: 240px !important;
    }
  }

  .berita_card_highlight {
    width: 520px;
  }
}

@media screen and (max-width: 1000px) {
  .bidang .item {
    width: 220px;
  }
  .berita_container > div {
    width: 210px !important;
  }

  .berita_card_highlight {
    width: 460px;
    height: 220px;
  }

  .video {
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  /* media */
  .bidang .item {
    width: 170px;
  }

  .berita_container {
    & > div {
      width: 160px !important;
      & > a {
        & > div {
          font-size: 12px !important;
          padding-left: 10px !important;
          padding-right: 10px !important;
          padding-bottom: 10px !important;
          height: 125px !important;
          text-transform: lowercase !important;
        }
      }
    }
  }

  .berita_card_highlight {
    width: 360px;
    height: 170px;
  }

  .bidang {
    .item {
      & > svg {
        font-size: 50px;
      }
    }
    .title span {
      font-size: 10px;
    }
  }

  .iframe {
    width: 100%;
    margin-bottom: 20px;
  }

  .video_container {
    display: flex;
    flex-direction: column;
  }

  .video {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 10px;
  }
  .bidang {
    flex-direction: column;
    margin-top: 20px;
    .item {
      width: 100%;
      margin-bottom: 20px;
      & > svg {
        font-size: 100px;
      }
      .title span {
        font-size: 13px;
      }
      .title span {
        font-size: 13px;
      }
    }
  }

  .berita_container {
    flex-direction: column;
    & > div {
      width: 100% !important;
      margin-bottom: 20px;
      transition: none;
      a {
        span {
          img {
            width: 400px !important;
          }
        }
      }
    }
  }

  .berita_card_highlight {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    transition: none;
  }

  .content_container {
    margin-bottom: 20px;
    .content {
      margin-bottom: 0px;
    }
    .title > div:nth-child(1) {
      width: 400px;
    }
  }

  .berita_container > div > a > div {
    font-size: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-bottom: 20px !important;
    height: 155px !important;
    text-transform: capitalize !important;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325) {
  /* media */
}
