.container {
  max-width: 1280px;
  margin: 0 auto;
}

.berita_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
  overflow: visible !important;
}

.berita_container_item {
  margin-bottom: 20px;
}

.berita_item {
  width: 300px;
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0px 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .berita_item {
    width: 340px;
  }
}
@media screen and (max-width: 1000px) {
  .berita_item {
    width: 300px;
  }
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
  .berita_item {
    width: 360px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 10px;
  }

  .berita_item {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
}
