@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* Warna Sosmed Header */
.container > div:nth-child(1) > div:nth-child(2) a > div {
  background-color: #f8961d;
}

/* Warna Navbar */
.container > div:nth-child(2) {
  background-color: #371c53;
}

/* Warna Footer */
.container > div:nth-last-child(1) > div:nth-last-child(1) {
  background-color: #371c53;
}

.banner {
  background-color: #fff;
  overflow: hidden;
  margin: 30px 0px 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
}

.banner a {
  width: 100%;
  text-align: center;
}

.banner:hover {
  background-color: #ececec;
}

.content {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
}

.sponsor {
  width: 100%;
}

.content .title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #371c53;
}

.sponsor .double {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.sponsor > div {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  border: 1px solid black;
  width: 350px;
  height: 130px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
}

.sponsor .singleImage img {
  width: 100%;
}

.singleImage {
  width: 350px;
  height: 130px;
  margin: 0 auto;
  border: 1px solid black;
}

.sponsor .double .image:hover img {
  transform: scale(1.1);
}

.sponsor .singleImage:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 1280px) {
  /* ukuran 1366px */
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 1120px) {
  /* ukuran 1366px */
  .sponsor .double .image {
    width: 300px;
  }

  .sponsor .singleImage {
    width: 300px;
  }
}
@media screen and (max-width: 1000px) {
  /* ukuran 1366px */
}
@media screen and (max-width: 800px) {
  /* media */
  .sponsor .double .image {
    width: 200px;
    height: 80px;
  }

  .sponsor .singleImage {
    width: 200px;
    height: 80px;
  }
}
@media screen and (max-width: 414px) {
  /* ukuran 1366px */
  .container {
    padding: 0 10px;
  }
  .imageTitle a {
    text-align: center;
  }

  .imageTitle img {
    width: 300px;
  }

  .sponsor .double {
    flex-direction: column;
  }
  .sponsor {
    padding: 0px 20px;
  }

  .sponsor .double .image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    align-items: center;
  }

  .sponsor .singleImage {
    width: 100%;
    height: 150px;
    align-items: center;
  }
}
@media screen and (max-width: 375px) {
  /* media */
}
@media screen and (max-width: 325px) {
  /* media */
  .sponsor .double .image {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .sponsor .singleImage {
    width: 100%;
    height: 150px;
  }
}
